# macOS
.DS_Store

# Xcode
build/
DerivedData/
*.xcuserdata/
*.xcuserstate
*.xccheckout
*.moved-aside
*.xcscmblueprint

# Swift Package Manager
.swiftpm/
.build/
Package.resolved

# Secrets
.env
.env.*
*.pem
*.key

# Logs
*.log
